@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap");

.leftPicDiv {
  flex: 1;
}

.leftPicDiv img {
  height: 250px;
  width: 350px;
  filter: brightness(90%);
  cursor: pointer;
}
.leftPicDiv img:hover {
  filter: brightness(100%);
  transition: 0.7s filter ease;
}

.rightContainerDiv {
  padding-left: 25px;
  font-family: "Roboto Condensed", sans-serif;
  text-align: left;

  flex: 2;
}
.heading {
  font-size: 1.6em;
  font-weight: 700;
  color: #1a4120;
  cursor: pointer;
}

.content {
  font-weight: 400;
  color: #333;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.3;
}
.timestamp {
  background-color: rgb(38, 206, 0);
  color: aliceblue;
  width: 100px;
  text-align: center;
  font-weight: bold;
  border-radius: 2px;
}
