@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

.notes-list-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 15px;
}
.notes-list-wrapper h1 {
  margin: 0px;
}

.notes-list-wrapper ul {
  margin: 0;
  display: flex;
  gap: 15px;
  list-style: none;
  justify-content: center;
  padding-top: 30px;
}

.notes-list-wrapper ul li {
  width: 200px;
  height: 200px;
  background-color: black;
  color: aliceblue;
}

.postContainer {
  display: flex;
  width: 230px;
}

.sectionHeader {
  padding-top: 50px;
  text-align: left;
  width: 1210px;
  margin-bottom: 3rem;
  padding-bottom: 0.25rem;
  border-bottom: 3px solid #1a4120;
}
.sectionTitle {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: #1a4120;

  text-transform: uppercase;
  font-size: 1.3em;
}
.sectionHeader1 {
  text-align: left;

  margin-bottom: 3rem;
  padding-bottom: 0.25rem;
  border-bottom: 3px solid #1a4120;
}
.sectionTitle1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: #1a4120;

  text-transform: uppercase;
  font-size: 1.3em;
}
.latestNewsWrapper {
  display: flex;
  flex-direction: column-reverse;
}
.latestNewsContainer {
  display: flex;
}
.leftnewsContainer {
  flex: 2;
  height: 500px;
}
.rightNewsContainer {
  padding-top: 100px;
  flex: 1;
}
.LatestHolder {
  display: flex;
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.284);
}
.nyheterContainer {
  padding-left: 100px;
}
