@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap");

.partnerLogo img {
  width: 200px;
  height: 100px;
  margin: 0px 10px;
  object-fit: contain;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
}
.partnerLogo {
  height: 100vh;
  background-color: rgba(240, 248, 255, 0.829);
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: center;
  align-items: center;
}
.partnerContainer {
  display: flex;
  flex-direction: row;
  background: url(../../img/graf.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.partnerText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  background-color: rgba(240, 248, 255, 0.63);
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgba(240, 248, 255, 0.829);
}
