@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap");

.partnerLogo img {
  width: 200px;
  height: 150px;
  margin: 0px 10px;
  object-fit: contain;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgba(255, 255, 255, 0.783);
  padding: 10px;
  border-radius: 10px;
}
.partnerLogo {
  height: 100vh;
  width: 50%;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.partnerContainer {
  background-image: url("https://i.ibb.co/f29YyK9/graf.jpg");
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.partnerText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 40px;
  padding: 50px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.partnerText p {
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.879);
}

.partnerLogo img:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}
