@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap");

.newsCardContainer {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
  color: #1a4120;

  text-align: left;
}

.topDiv {
  flex: 1.5;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.topDiv img {
  width: 250px;
  height: 130px;
  object-fit: cover;
}

.lowerDiv {
  text-transform: uppercase;

  flex: 2;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  flex-direction: column;
}

.upperDiv {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
  flex: 1;
  margin-top: 10px;
}

.button-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 80px;
  margin: 10px 10px;
  align-self: flex-end;
}

.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
